* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: radial-gradient(closest-side, #f69d3c, #ebf8e1, #3f87a6);
}
canvas {
  position: relative;
  margin-left: 100px;
  margin-top: 20px;
}
#canvas1 {
  background: transparent;
  background-blend-mode: exclusion;
  /* border: 3px solid rgb(47, 17, 17); */
}
